---
BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 100

AlignAfterOpenBracket: AlwaysBreak
AlignOperands: false
AllowAllConstructorInitializersOnNextLine: true
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: TopLevel
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth: 2
IndentCaseLabels: true
PointerAlignment: Right
SpaceBeforeCtorInitializerColon: false
UseTab: Never
